<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<ui:decorate template="#{template}">
	<ui:param name="rendered" value="#{!ajaxSorted}"/>
	<ui:param name="value" value="#{$value$}"/>
	<f:facet name="header">#{messages['model.$entityBean$.$field$']}</f:facet>
	<h:outputText value="#{empty $value$ ? 0 : $value$}"/>
</ui:decorate>

<ui:decorate template="#{template}">
<ui:param name="rendered" value="#{ajaxSorted}"/>
<f:facet name="header">
	<ui:include src="/layout/sort.xhtml">
		<ui:param name="entityList" value="#{entityList}"/>
		<ui:param name="propertyLabel" value="#{messages['model.$entityBean$.$field$']}"/>
		<ui:param name="propertyPath" value="#{searchedEntityAttribute}.$field$"/>
	</ui:include>
</f:facet>
<h:outputText value="#{empty $value$ ? 0 : $value$}"/>
</ui:decorate>
